      body {
          width: 850vw;
      }

    /* main */

      .titel h1{
        font-size: 3em;
        color: #01144e;
        position: fixed;
        left: 1.8em;
        top: 3em;
        z-index: -1;
      }

      .titel h2{
        font-size: 1.5em;
        color: #454450;
        position: fixed;
        left: 3.8em;
        top: 11em;
        z-index: -1;
      }


      /*  grid */
      .i11 h3{
        font-size: 1.5em;
        color: #454450;
        text-align: center;
        margin-top: 5em;
      }

      .i11 a:hover{
        color: #19768e;
      }

      .grid img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%
      }

      .i8 img, .i5 img{
        width: 80%
      }

      .i9 img{
        width: 90%
      }

      .i10 img{
        width: 40%
      }

      .grid{
        position: absolute;
        left: 6em;
        top: 17em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
                    "i1 i2 i3 i4 i5 i6 i7 i8 i9 i10 i11";
        width: 200em;
      }

       /* color green: #c8efd5  background-color: background-color: #c6dde2;*/

      .i1{
        grid-area: i1;
      }

      .i2{
        grid-area: i2;
      }

      .i3{
        grid-area: i3;
      }

      .i4{
        grid-area: i4;
      }

      .i5{
        grid-area: i5;
      }

      .i6{
        grid-area: i6;
      }

      .i7{
        grid-area: i7;
      }

      .i8{
        grid-area: i8;
      }

      .i9{
        grid-area: i9;
      }

      .i10{
        grid-area: i10;
      }

/* pijl */
    .lijn1{
      width: 0.2em;
      height: 0.7em;
      border-radius: 0.2em;
      background-color: black;
      transform: rotate(45deg);
      position: absolute;
      top: 0.4em;
    }

    .lijn2{
      width: 0.2em;
      height: 1em;
      border-radius: 0.2em;
      background-color: black;
      transform: rotate(90deg);
      position: absolute;
      top: 0.07em;
      right: 0.2em;
    }

    .lijn3{
      width: 0.2em;
      height: 0.7em;
      border-radius: 0.2em;
      background-color: black;
      transform: rotate(-45deg);
    }

    .pijl{
      position: fixed;
      bottom: 5em;
      left: 8em;
    }

/*vak*/
    .vak{
      width: 150vh;
      height: 70em;
      background: linear-gradient(15deg, #a0d3de 45%, rgb(246, 248, 249) 100%);
      position: fixed;
      bottom: -30em;
      right: 3em;
      z-index: -2;
      border-radius: 200px;
      transform: rotate(-20deg);
    }
/* media queri */
    @media (min-width: 810px){
        .titel h2{
          position: fixed;
          top: 9em;
        }

        .titel h1{
          position: fixed;
        }

        .grid{
          .grid{
            position: absolute;
            left: 6em;
            top: 17em;
            display: grid;
            width: 150em;
        }

        body {
            width: 200vw;
        }

        .pijl{
          position: fixed;
          bottom: 10em;
        }
    }

    @media (min-width: 1024px){
      .titel h1{
        position: fixed;
        left: 3em;
      }

      .titel h2{
        position: fixed;
        left: 10.4em;
        top: 20em;
      }

      .grid{
        position: absolute;
        left: 15.4em;
        top: 22em;
      }

      body {
          width: 400vw;
      }

      .vak{
        bottom: -30em;
        right: 3em;
      }

      .pijl{
        position: fixed;
        bottom: 1em;
        left: 10em;
      }


    }

      @media (min-width: 1025px){
          .titel h2{
            position: fixed;
            top: 18em;
          }

          .titel h1{
            position: fixed;
          }

          .grid{
            top: 22em;
          }

          body {
              width: 400vw;
          }

      }

      @media (min-width: 1330px){
          .titel h2{
            position: fixed;
            top: 18em;
          }

          .titel h1{
            position: fixed;
          }

          .grid{
            position: absolute;
            left: 15.4em;
            top: 22em;
            height: 13em;
          }

          body {
              width: 300vw;
          }

      }

      @media (min-width: 1480px){
          .titel h2{
            position: fixed;
            top: 14em;
          }

          .titel h1{
            position: fixed;
          }

          .grid{
            position: absolute;
            left: 15.4em;
            top: 22em;
            height: 18em;
          }

          body {
              width: 270vw;
          }

      }
