      body {
          width: 800vw;
      }

    /* main */

      .titel h1{
        font-size: 3em;
        color: #01144e;
        position: fixed;
        left: 1.8em;
        top: 3em;
        z-index: -1;
      }

      .titel h2{
        font-size: 1.5em;
        color: #454450;
        position: fixed;
        left: 3.8em;
        top: 11em;
        z-index: -1;
      }

      /*  grid */
      .grid a{
        color: #454450;
      }

      .grid a:hover{
        color: #19768e;
      }

      .grid img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 45%
      }

      .grid{
        position: absolute;
        left: 6em;
        top: 20em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
                    "i1 i2 i3 i4 i5 i6";
        width: 200em;
      }

      .grid-item {
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-position: center;
        }

       /* color green: #c8efd5  background-color: background-color: #c6dde2;*/

      .i1{
        grid-area: i1;
      }

      .i2{
        grid-area: i2;
      }

      .i3{
        grid-area: i3;
      }

      .i4{
        grid-area: i4;
      }

      .i5{
        grid-area: i5;
      }

      .i6{
        grid-area: i6;
      }

      .grid h3{
        text-align: center;
        font-size: 1em;
        color: #7a7988;
        margin-top: 0.5em;
        margin-bottom: 0.3em;
      }

/* pijl */
    .lijn1{
      width: 0.2em;
      height: 0.7em;
      border-radius: 0.2em;
      background-color: black;
      transform: rotate(45deg);
      position: absolute;
      top: 0.4em;
    }

    .lijn2{
      width: 0.2em;
      height: 1em;
      border-radius: 0.2em;
      background-color: black;
      transform: rotate(90deg);
      position: absolute;
      top: 0.07em;
      right: 0.2em;
    }

    .lijn3{
      width: 0.2em;
      height: 0.7em;
      border-radius: 0.2em;
      background-color: black;
      transform: rotate(-45deg);
    }

    .pijl{
      position: fixed;
      bottom: 1em;
      left: 10em;
    }


/*vak*/
    .vak{
      width: 150vh;
      height: 70em;
      background: linear-gradient(15deg, #a0d3de 4%, rgb(246, 248, 249) 100%);
      position: fixed;
      bottom: 0;
      left: 10em;
      z-index: -2;
      border-radius: 200px;
      transform: rotate(20deg);
    }

/* media queri */
    @media (min-width: 810px){
        .titel h2{
          position: fixed;
          top: 9em;
        }

        .titel h1{
          position: fixed;
        }

        .grid{
          .grid{
            position: absolute;
            left: 6em;
            top: 17em;
            display: grid;
            width: 150em;
        }

              body {
                  width: 200vw;
              }
    }

    @media (min-width: 1024px){
      .titel h1{
        position: fixed;
        left: 3em;
      }

      .titel h2{
        position: fixed;
        left: 10.4em;
        top: 20em;
      }

      .grid{
        position: absolute;
        left: 15.4em;
        top: 30em;
      }

      body {
          width: 400vw;
      }

      .vak{
        left: 20em;
        width: 200vh;
      }


    }

      @media (min-width: 1025px){
          .titel h2{
            position: fixed;
            top: 18em;
          }

          .titel h1{
            position: fixed;
          }

          .grid{
            height: 13em;
          }

          body {
              width: 400vw;
          }

      }

      @media (min-width: 1330px){
          .titel h2{
            position: fixed;
            top: 18em;
          }

          .titel h1{
            position: fixed;
          }

          .grid{
            position: absolute;
            left: 15.4em;
            top: 30em;
          }

          body {
              width: 300vw;
          }

      }

      @media (min-width: 1480px){
          .titel h2{
            position: fixed;
            top: 14em;
          }

          .titel h1{
            position: fixed;
          }

          .grid{
            position: absolute;
            left: 15.4em;
            top: 24em;
            height: 18em;
          }

          body {
              width: 270vw;
          }

      }
